<footer class="footer">
  <small>
    <div class="grid__item large-up--one-half">
      <span class="site-footer__copyright">© 2017,
      <a href="/">Ahya Kurdi</a>.</span>
    </div>
  </small> 
</footer>
