  <% provide(:title, "About") %>
  <!-- Page Header -->
  <header class="masthead" id="about_background">
    <%= render 'shared/navigationbar' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">We love to slay in all aspects of life!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="text-dark">We are a community of Girlbosses, who love to share all we know about Beauty, Health, Fitness, Food inspo and pretty much anything that will add value to our lives and help us slay!!!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
      </div>
    </div>
  </div>
  <hr>

  <!-- Footer -->
  <%= render 'shared/footer' %>
