<h1><%= @post.user.first_name %>'s Posts</h1>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <%= @post.title %>
    </div>
      <%= @post.body%>
  </div>
</div>
